
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
  /* background-color: #02187a; */
  /* background-color: #1e2c44; */
  background-color: #1B2430;
}

/* body,
button,
input,
textarea{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

img{
    width: 100%;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
    position: relative;
    /* z-index: 5; */
}

.section {
    padding: 7rem 0;
}

.main-btn {
    display: inline-block;
    background-color: #1aa89e;
    color: white;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.8rem 1.6rem;
    font-weight: 500;
    width: fit-content;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.main-btn:hover{
    transition: all 0.25s ease-in-out;
    background-color: #12746d;
}
.secondary-btn {
    display: inline-block;
    background-color: var(--main-yellow);
    color: white;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.8rem 1.6rem;
    font-weight: 500;
    width: fit-content;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.secondary-btn:hover{
    transition: all 0.25s ease-in-out;
    background-color: var(--main-yellow-dark);
}
.tertiary-btn {
    display: inline-block;
    background-color: var(--main-green);
    color: white;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.8rem 1.6rem;
    font-weight: 500;
    width: fit-content;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.tertiary-btn:hover{
    transition: all 0.25s ease-in-out;
    background-color: var(--main-green-light);
}

.follow-btn {
    display: inline-block;
    background-color: var(--dark-2);
    color: white;
    border-radius: 1.5rem;
    /* font-size: 1rem; */
    font-size: 0.85rem;
    /* padding: 0.8rem 1.6rem; */
    padding: 0.6rem 1.2rem;
    font-weight: 500;
    width: fit-content;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .follow-btn::after{
    content: "";
    position: absolute;
    height: 110%;
    width: 105%;
    border-radius: 1.5rem;
    background-image: linear-gradient(to right,  #fcb045 , #fd1d1d, #833ab4);
    transition: all 0.25s ease-in-out;
    z-index: -1;
  }
  .follow-btn:hover {
    transition: all 0.25s ease-in-out;
    z-index: 0;
    box-shadow: 40px 0 100px #833ab4, -40px 0 100px #fd1d1d, 0 0 0 #833ab4;
  }

.title {
    position: relative;
    display: inline-block;
    padding: 1rem;
    line-height: 1;
    font-size: 2.8rem;
    margin-bottom: 0.6rem;
    color: white;
    text-align: center;
}


@media screen and (max-width:600px){
    .container{
        padding: 0 2rem;
    }

    .title{
        font-size: 2.5rem;
    }
}

@media screen and (max-width:375px){
    /* .container{
        padding: 0 1rem;
    } */

    .title{
        font-size: 2rem;
    }
}

@media screen and (max-width : 310px) {
    .follow-btn{
        font-size: 0.5rem;
        font-weight: 350;
        padding: 0.5rem 0.7rem;
        /* justify-content: center; */
    }
}

